* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
p {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", Tahoma, sans-serif;
    background-color: #F0E3CA;
}

main h2 {
    font-size: 3rem;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-family: "Caveat Brush", Verdana, Tahoma, sans-serif;
}

main h3 {
    font-size: 1.5rem;
}

h4, ul {
    margin-top: 0;
}

article h2 {
    text-shadow: 2px 2px #1B1A17;
    color: #FF8303;
    text-decoration: underline;
    text-underline-position: under;
    margin-top: 0;
}

/* Text Align Center untuk h3 dan h2 dan th */
article h2,
#menu section h3, 
#menu th,
#cara-pesan section h3, 
#lokasi section h3, article > p {
    text-align: center;
}

/* Padding untuk Main */
article {
    padding: 50px;
    scroll-margin-top: 5rem;
}

header {
    display: inline;
}

footer {
    padding: 20px;
    color: #F0E3CA;
    background-color: #1B1A17;
    text-align: center;
    font-weight: bold;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B1A17;
    color: #F0E3CA;
    padding: 0.35rem;
    padding-inline: 4rem;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(27, 26, 23, 0.4);
}

nav ul {
    display: flex;
    gap: 2rem;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    cursor: pointer;
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: #F0E3CA;
}

nav a:hover, nav a:active {
    font-weight: bold;
    color: #F0E3CA;
    border-bottom: 3px solid #F0E3CA;
}

nav img.navbar-logo {
    height: 2rem;
    margin: 0.83rem;
}

nav input.navbar-button {
    visibility: hidden;
}

/* Jumbotron */
.jumbotron {
    font-size: 20px;
    padding: 8rem;
    height: 100vh;
    background-image: 
        linear-gradient(180deg, 
            rgba(27, 26, 23, 1), 
            rgba(27, 26, 23, 0.8), 
            rgba(27, 26, 23, 0.3), 
            rgba(27, 26, 23, 0.6), 
            rgba(27, 26, 23, 1)),
        url("../images/biji-kopi.jpg");
    background-color: #1B1A17;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(27, 26, 23, 0.4);
}

.jumbotron h1 {
    font-size: 4rem;
    color: #ff8303;
    text-align: center;
}

.jumbotron p {
    padding: 0 13em;
    color: #F0E3CA;
    text-align: center;
}

article > p {
    padding-bottom: 25px ;
    margin-top: -20px;
}

/* Tampilan Content Menu Minuman Makanan */
#menu section table td:nth-child(2) {
    text-align: right;
}

#menu table tr {
    line-height: 2rem;
}

section.food-drink {
    gap: 2rem;
    flex: 1 1 20%;
}

img.food-drink-image {
    width: 30%;
    max-height: 60vh;
    object-fit: cover;
    object-position: center;
}

#menu .menu-item {
    display: flex;
    justify-content: space-between;
}

img.food-drink-image, 
#menu section .menu-item table{
    flex: 1;
    padding: .5rem;
}

/* Tabel Lokasi */
.location-table td {
    text-align: left;
    padding: 5px;
    line-height: 1.5rem;
}

.location-table td:first-child {
    text-align: right;
}

.location-table th {
    line-height: 2.2rem;
    text-decoration: 4px underline solid #A35709;
    text-underline-position: under;
    font-weight: 600;
    border-top: 2px dashed #A35709;
}

.location-table tr:first-child > th {
    border-top-color: transparent;
}


/* Content Member */
.member h4, 
.member li, 
.member p {
    text-align: justify;
}

#member .container {
    justify-content: center;
}

#member {
    background-image: 
        linear-gradient(180deg, 
            rgba(163, 87, 9, 1), 
            rgba(163, 87, 9, 0.55), 
            rgba(163, 87, 9, 0.55),
            rgba(163, 87, 9, 1)),
        url("../images/background-kopi.png");
    background-color: #A35709;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #F0E3CA;
}

.member form {
    color: #1B1A17;
}

/* Form Member di #member */
form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

form > div {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
}

input#gender-female, 
input#gender-male {
    margin: 0;
    padding: 0;
}

.member .item:first-child, #member h2 {
    text-shadow: 2px 2px #1B1A17;
    color: #F0E3CA;
}

input#name {
    text-transform: capitalize;
}

input#email {
    text-transform: lowercase;
}

/* Margin Tabel Lokasi dan Tentang Kami */
.location-table,
.about-us-table {    
    margin: 20px 10px;
}

/* Content Tentang Kami */
#tentang-kami .container {
    justify-content: center;
}

.about-us-table {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
}

.about-us-table td, .about-us-table th {
    padding: 10px;
}

.about-us-table tr{
    line-height: 1.5rem;
}

.about-us-table td {
    text-align: left;
}

.about-us-table tr:first-child th {
    text-align: center;
    line-height: 2.2rem;
    text-decoration: 4px underline solid #A35709;
    text-underline-position: under;
}

.about-us-table tr th {
    text-align: right;
    font-weight: 600;
    
}

/* Footer */
footer .social-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 1rem 1rem;
    align-items: center;
    gap: 1.5rem;
}

footer .social-media li a {
    color: #F0E3CA;
    font-size: 2rem;
}

/* Button */
button {
    padding: 0.8rem 2.5rem;
    border: 3px solid transparent;
    border-radius: 999px;
    margin-block-start: 1rem;

    background-color: #FF8303;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: #F0E3CA;

    cursor: pointer;
    transition: all 0.15s ease-in;
}

button:hover {
    border: 3px solid transparent;
    background-color: #A35709;
}

button:active {
    transform: scale(.95);
}

button a {
    text-decoration: none;
    color: #F0E3CA;
}

.item > button {
    padding: 0.5rem 1rem;
}

/* Tabel umum (table data) */
table td, table th {
    vertical-align: top;
}

/* Gambar untuk Artikel Cara Pesan dan Lokasi*/
img.how-to-order-image, 
img.landmark-image,
img.about-us-image {
    width: 100%;
    height: 17rem;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

/* 
Box Card Container
Dipakai oleh Menu Makan, Cara Pesan, dan Lokasi 
*/
.container {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    justify-content: space-between;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding: 20px;
    background-color: #F0E3CA;
    overflow: hidden;
    box-sizing: border-box;
}

.item {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 31.5%;
    justify-content: start;
}

/* Perangkat dengan layar lebar 1200px dan di bawahnya */
@media screen and (max-width: 1200px) {
    .jumbotron p {
        padding: 0;
        color: #F0E3CA;
    }

    .container section,
    .container .about-us-item {
        display: flex;
        flex-flow: column wrap;
        flex: 1 1 40%;
    }
    
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        min-height: 40vh;
        margin-inline: auto;
    }

    #cara-pesan .card,
    #lokasi .card,
    aside #tentang-kami .item {
        max-width: 50vw;
    }
    
    #menu section img {
        width: 80%;
        max-height: 20vh;
        aspect-ratio: 1/1;
        object-fit: contain;
        object-position: center;
        margin-left: auto;
        margin-right: auto;
    }

    .menu-item {
        display: flex;
        flex-flow: column;
        flex: 0 1 31%;
        min-height: 45vh;
    }

    img.about-us-image {
        object-position: top;
    }
}

/* Perangkat dengan layar lebar 768 dan di bawahnya */
@media screen and (max-width: 768px) {
    .jumbotron h1 {
        font-size: 3.3rem;
        color: #ff8303;
        text-align: center;
    }

    .jumbotron {
        padding: 0.7rem 2rem 10rem 2rem; /* top right bottom left */
        height: 100%;
        background-position: center;
        background-size: 234%;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }

    #member {
        background-attachment: scroll;
    }
    
    .container {
        display: flex;
        margin: 0 auto;
        flex-flow:column nowrap;
        flex: 1 1 50%;
        justify-content: space-between;
        align-content: flex-start;
    }

    .item {
        display: flex;
    }

    #cara-pesan .card,
    #lokasi .card,
    aside #tentang-kami .card {
        max-width: 100vw;
    }

    aside #tentang-kami .card {
        overflow: auto;
    }

    table {
        margin: 20px 10px;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .navbar-hamburger-icon, .navbar-logo {
        z-index: 100;
    }

    /* Navbar Ketika Klik 3 Strip Hamburger */
    nav ul {
        display: flex;
        flex-flow: column nowrap;
        position: absolute;
        gap: 0rem;
        background-color: #1B1A17;
        transform: translateY(-100%) ;
        width: 100%;
        top: 65px;
        left: 0;
        padding: 20px 0;
        transition: all .6s ease-in-out;
        box-shadow: 0 4px 8px 0 rgba(27, 26, 23, 0.4);
        opacity: 0;
        visibility: hidden;
    }

    nav ul > li {
        transition: .45s ease-in;
        text-align: center;
        padding: 10px 0;
    }

    nav a {
        color: #F0E3CA;
    }

    nav input:checked ~ ul {
        transform: translateY(0);
        transition: .4s ease-in-out;
        opacity: 1;
        visibility: visible;
    }
    
    /* Hamburger 3 Strip for Navbar */
    .navbar-hamburger-icon .stripe {
        width: 43px;
        height: 5px;
        background-color: #F0E3CA;
        margin: 5px 0;
        border-radius: 999px;
        transition: all .4s ease-in-out;
        cursor: pointer;
    }

    /* Hamburger Transisi Ketika Klik 3 Strip Hamburger */
    nav input:checked ~ .navbar-hamburger-icon .stripe {
        transition: transform .4s ease-in-out;
    }

    nav input:checked ~ .navbar-hamburger-icon .stripe:nth-child(1) {
        transform: rotate(-135deg) translate(-8px, -9px);
    }
    
    nav input:checked ~ .navbar-hamburger-icon .stripe:nth-child(2) {
        transform: scale(0) rotate(-60deg);
    }
    
    nav input:checked ~ .navbar-hamburger-icon .stripe:nth-child(3) {
        transform: rotate(-45deg) translate(4.5px, -7px);
    }
}