* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", Tahoma, sans-serif;
    background-color: #F0E3CA;
    margin: 0;
    padding: 0;
}

main h2 {
    font-size: 2em;
}

h1, h2 {
    text-transform: uppercase;
    font-family: "Caveat Brush", Verdana, Tahoma, sans-serif;
}

header {
    display: inline;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1B1A17;
    color: #F0E3CA;
    padding: 0.6rem;
    padding-inline: 4rem;
    position: sticky;
    top: 0;
    /* width: 100%; */
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav li {
    list-style-type: none;
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: #F0E3CA;
}

nav a:hover {
    font-weight: bold;
    color: #FF8303;
}

nav a:active {
    font-weight: 400;
}

h2.logo {
    color: #FF8303;
}

/* Jumbotron */
.jumbotron {
    font-size: 20px;
    padding: 8rem;
    height: 100vh;

    background-image: linear-gradient(180deg, rgba(27, 26, 23, 1), rgba(27, 26, 23, 0.8), rgba(27, 26, 23, 0.7)),url("../images/biji-kopi.jpg");
    background-color: #1B1A17;
    /* opacity: .5; */
    text-align: center;
    /* color: white; */
}

.jumbotron h1 {
    font-size: 4em;
    color: #ff8303;
}

.jumbotron p {
    padding: 0 13em;
    color: #F0E3CA;
}

/* Main */
article h2 {
    text-align: center;
}

article, aside {
    padding: 20px;
    scroll-margin-top: 5rem;
}

/* Menu Minuman Makanan */
#menu section .food-drink {
    /* background-color: #1B1A17; */
    display: flex;
    gap: 2rem;
    flex-flow: row wrap;
}

#menu section img {
    width: 30%;
    max-height: 60vh;
    object-fit: cover;
    object-position: center;
}

.nested-flex {
    display: flex;
    justify-content: space-between;
}

#menu section .nested-flex img, #menu section .nested-flex table{
    flex: 1;
    max-width: 50%;
    object-fit: cover;
    object-position: center;
    padding: .5rem;
}

/* #menu section.nested-flex table {
    display: flex;
    flex-flow: column wrap;
} */
#menu section h3 {
    text-align: center;
}

.food-drink {
    flex: 1 1 20%;
    /* flex-basis: 20%; */
    /* flex-basis: calc(10% - 0.5rem); */
    /* max-width: calc(10% - 0.5rem); */
    /* max-width: 50%; */
}

/* Cara Pesan */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    padding: 20px;
}

.item {
    display: flex;
    flex-flow: column;
    flex: 0 1 31%;
}

.container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: space-between;
    min-height: 40vh;
    margin-inline: auto;
}

.item > button {
    margin-top: auto;
    padding: 0.5rem 1rem;
}

/* General */
button {
    padding: 0.8rem 2.5rem;
    border: 3px solid transparent;
    border-radius: 999px;
    margin-block-start: 1rem;

    background-color: #FF8303;

    /* font-family: 'Quicksand', sans-serif; */
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: white;

    cursor: pointer;
    transition: all 0.15s ease-in;
}

button:hover {
    border: 3px solid transparent;
    background-color: #A35709;
}

button:active {
    transform: scale(.95);
}

button a {
    text-decoration: none;
    color: #F0E3CA;
}

